<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="slider.js" type="text/javascript"></script>
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <div class="container" id="demo">
    <header class="header">
      <div class="header-logo">
        <img src="" alt="">
      </div>
      <div class="header-menu">
        <a class="header-menu-item" href="#" v-for="myItemMenu in menuItem">{{myItemMenu}}</a>
        <a href="#" class="header-lk">User:<span class="header-lk-basket">{{counter}}</span></a>
      </div>
    </header>
    <content class="content">
      <form action="" class="content-form">
        <p class="input-fun">{{Name + ' ' + lastName}}</p>
        <p class="content-form-title">Запишите своего питомца</p>
        <div class="content-form-pet">
          <input type="checkbox" id="contactChoice1"
          name="contact" value="cat" class="pet"> 
          <label for="contactChoice1">Кошка</label>
          <input type="checkbox" id="contactChoice2"
          name="contact" value="dog" class="pet">
          <label for="contactChoice2">Собака</label>
        </div>
        <input class="content-form-input" type="text" :placeholder="placeholderName" :value="Name" @input="inputChangedName">
        <input class="content-form-input" type="text" :placeholder="placeholderLastName" :value="lastName" @input="inputChangedLastName">
        <input class="content-form-input" type="text" :placeholder="placeholderPhone">
        <button class="content-form-button">Отправить</button>
      </form>
      <img src="media/pets/dog.jpg" alt="" class="content-main-img">
      <div class="content-slider">
          <div class="card-slide fade" v-for="myPeople in people">
            <img class="img-slide" :src="myPeople.imgPeople" alt="">
            <div class="text-block-slide">
              <h3 class="card-name">{{myPeople.namePeople}} {{myPeople.lastNamePeople}}</h3>
              <p class="card-description">{{myPeople.positionPeople}}</p>
            </div>
          </div>
        <div class="dots">
          <span class="dot active" @click="currentSlide(1)"></span>
          <span class="dot" @click="currentSlide(2)"></span>
          <span class="dot" @click="currentSlide(3)"></span>
          <span class="dot" @click="currentSlide(4)"></span>
        </div>
      </div>
      <div class="content-info">
        <div class="info-grum">
          Груминг — комплекс процедур по уходу за шерстью, кожей, когтями, ушами и глазами собак. Может выполняться как в гигиенических целях, так и для улучшения внешнего вида собаки при подготовке к выставке или другим соревнованиям
        </div>
        <div class="ul-grum">
          <div class="div-grum" v-for="myCardAdvantages in cardAdvantages">
            <h2>{{myCardAdvantages.title}}</h2>
             <p>{{myCardAdvantages.text}}</p>
          </div>
        </div>
      </div>
      <div class="content-card">
        <div class="content-block-category">

        </div>
        <div class="content-block-card">
          <div class="content-card-service">

          </div>
          <div class="content-card-service">
            
          </div>
          <div class="content-card-service">
            
          </div>
          <div class="content-card-service" v-for="myServices in services">
            <img :src="myServices.imgService" alt="" class="img-card-service">
            <h4 class="title-card-service">{{myServices.nameService}}</h4>
            <a href="#!" class="price-card-service">{{myServices.priceService}} руб</a>
            <button class="add-card-service">+</button>
          </div>
        </div>
      </div>
    </content>
    <footer class="footer">
      <div class="footer-icon" v-for="mySocial in social">
        <a href="#!"><img :src="mySocial.path" alt=""></a>
      </div>
    </footer>
  </div>
  <script src="script.js" type="text/javascript"></script>
  <script src="vue.min.js" type="text/javascript"></script>
</body>
</html>