<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <div class="container" id="demo">
    <header class="header">
      <div class="header-logo">
        <img src="" alt="">
      </div>
      <div class="header-menu">
        <a class="header-menu-item" href="#" v-for="myItemMenu in menuItem">{{myItemMenu}}</a>
        <a href="#" class="header-lk">User:<span class="header-lk-basket">{{counter}}</span></a>
      </div>
    </header>
    <content class="content">
      <form action="" class="content-form">
        <p class="input-fun">{{Name + ' ' + lastName}}</p>
        <p class="content-form-title">Запишите своего питомца</p>
        <div class="content-form-pet">
          <input type="checkbox" id="contactChoice1"
          name="contact" value="cat" class="pet"> 
          <label for="contactChoice1">Кошка</label>
          <input type="checkbox" id="contactChoice2"
          name="contact" value="dog" class="pet">
          <label for="contactChoice2">Собака</label>
        </div>
        <input class="content-form-input" type="text" :placeholder="placeholderName" :value="Name" @input="inputChangedName">
        <input class="content-form-input" type="text" :placeholder="placeholderLastName" :value="lastName" @input="inputChangedLastName">
        <input class="content-form-input" type="text" :placeholder="placeholderPhone">
        <button class="content-form-button">Отправить</button>
      </form>
      <img src="media/pets/dog.jpg" alt="" class="content-main-img">
      <div class="content-slider">
        <div class="card-slide fade">
          <img class="img-slide" src="media/people/people1.jpg" alt="">
          <div class="text-block-slide">
            <h3 class="card-name">Анна Смирнова</h3>
            <p class="card-description">Директор</p>
          </div>
        </div>
        <div class="card-slide fade">
          <img class="img-slide" src="media/people/people2.jpg" alt="">
          <div class="text-block-slide">
            <h3 class="card-name">Екатерина Петрова</h3>
            <p class="card-description">Стрижка собак</p>
          </div>
        </div>
        <div class="card-slide fade">
          <img class="img-slide" src="media/people/people3.jpg" alt="">
          <div class="text-block-slide">
            <h3 class="card-name">Михаил Масленников</h3>
            <p class="card-description">Администратор</p>
          </div>
        </div>
        <div class="card-slide fade">
          <img class="img-slide" src="media/people/people4.jpg" alt="">
          <div class="text-block-slide">
            <h3 class="card-name">Мирослава Назарова</h3>
            <p class="card-description">Стрижка кошек</p>
          </div>
        </div>
        <div class="dots">
          <span class="dot" @click="currentSlide(1)"></span>
          <span class="dot" @click="currentSlide(2)"></span>
          <span class="dot" @click="currentSlide(3)"></span>
          <span class="dot" @click="currentSlide(4)"></span>
        </div>
      </div>
      <div class="content-info">
        <div class="info-grum">
          Груминг — комплекс процедур по уходу за шерстью, кожей, когтями, ушами и глазами собак. Может выполняться как в гигиенических целях, так и для улучшения внешнего вида собаки при подготовке к выставке или другим соревнованиям
        </div>
        <div class="ul-grum">
          <div class="div-grum" v-for="myCardAdvantages in cardAdvantages">
            <h2>{{myCardAdvantages.title}}</h2>
             <p>{{myCardAdvantages.text}}</p>
          </div>
        </div>
      </div>
      <div class="content-card">
        <div class="content-card-service">

        </div>
        <div class="content-card-service">
          
        </div>
        <div class="content-card-service">
          
        </div>
        <div class="content-card-service">
          
        </div>
        <div class="content-card-service">
          
        </div>
        <div class="content-card-service">
          
        </div>
        <div class="content-card-service">
          
        </div>
        <div class="content-card-service">
          
        </div>
      </div>
    </content>
    <footer class="footer">
      <div class="footer-icon">
        <a href="#!"><img src="icon/vk.png" alt=""></a>
        <a href="#!"><img src="icon/telegram.png" alt=""></a>
        <a href="#!"><img src="icon/facebook.png" alt=""></a>
        <a href="#!"><img src="icon/youtube.png" alt=""></a>
      </div>
    </footer>
  </div>
  <script src="slider.js"></script>
  <script src="script.js" type="text/javascript"></script>
  <script src="vue.min.js" type="text/javascript"></script>
</body>
</html>